
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- SEO Meta Tags -->
        <title>{{ page.permalink }}</title>
        <meta name="description" content="ZeNinja864's Development Site">
        <meta name="keywords" content="ZeNinja864">
        <meta name="author" content="ZeNinja864">
        <link rel="canonical" href="{{ site.url }}{{ page.permalink }}" />

        <!-- Open Graph (OG) Meta Tags for Social Media -->
        <meta property="og:title" content="ZeNinja864">
        <meta property="og:description" content="ZeNinja864's Development Site">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="ZeNinja864">

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:description" content="ZeNinja864's Development Site">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ '../assets/images/favicon.png' | relative_url }}">
